* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #151515;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 6%;
}

.column {
  flex: 1;
  background-color: #292929;
  padding: 15px;
  min-height: 500px;
  border-radius: 6%;

}

.column.locked {
  background-color: #292828;
  opacity: 0.8;
}

.column h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.card-count {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ffffff;
}

.lock-message {
  background-color: #ff6b6b;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 15px;
}

.no-cards {
  text-align: center;
  color: #f7f2f2;
  padding: 20px;
}

.card {
  background-color: rgb(67, 65, 65);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6%;
}

.card.locked {
  opacity: 0.6;
  pointer-events: none;
}

.card h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.checklist {
  list-style: none;
  margin-bottom: 10px;
}

.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px;
  color: #f7f2f2;
}

.checklist input[type="checkbox"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checklist span {
  flex: 1;
}

.checklist span.completed {
  text-decoration: line-through;
  color: #ffffff;
}

.card-info {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #faf6f6;
}

.card-info p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.completed-date {
  color: #4caf50 !important;
  font-weight: bold;
}

.card-actions {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.card-actions button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #075196;
  color: white;
}


.add-card-btn {
  width: 100%;
  padding: 10px;
  background-color: #28712b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


.max-reached {
  text-align: center;
  color: #ff6b6b;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
  
  .column {
    min-height: 300px;
  }
}

.clean-all-btn {
  display: block;
  margin: 30px auto 0;
  padding: 12px 30px;
  background-color: #cb3030;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 4%;
}
